<h1>Privet Drive</h1>
<div>
  <img src = 'https://i2-prod.getsurrey.co.uk/whats-on/film-news/article16994608.ece/ALTERNATES/s615b/0_Privet-Drive-Surrey.jpg'>
</div>
<h2>Description</h2>
<p>Harry Potter's original casa</p>
<h2>Price</h2>
<p>£156</p>
<form method='get' action='/property/booking-confirmed'>
  <label for='booking_request'>
    <input type='submit' value='Request to book'/>
  </label>
</form>