<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Makersbnb</title>
  <link rel="stylesheet" type="text/css" href="/stylesheet.css">
</head>
<body>
  <header>
  <div class="link-wrapper">
  <% if @user %>
    <a class="link" href="/spaces/new">Add property</a>
    <a class="link" href="/makersbnb/signout">Sign out</a>
  <% else %>
   <a class="link" href="/sessions/new">Log in</a>
  <% end %>
  </div>
  </header>
  <%= yield %>
</body>
</html>