<h2>Hello user! would you like to list your property?</h2><br> 
<h3>fill in your details below:</h3> 

<form action="/makersbnb/my_listings" method="post">
  <input type="text" name="property_title" placeholder='Title of your property'><br>
  <input type="text" name="description" placeholder='Describe your property'><br>
  <input type="text" name="price_per_night" placeholder='Price per night'><br>
  <input type="submit" value="Submit">
</form> 