
<h1 class="center">Feel at home, anywhere</h1>
<h2 class="center">
  <%= flash[:notice] %>
</h2>
<h3 class="form-heading center">Sign up to MakersBnB</h3>

<form class="sign-up center" action="/makersbnb/spaces/index" method="post">
  <input type="email" name="email" placeholder="email" />
  <input type="password" name="password" placeholder="password" />
  <input type="submit" value="Submit" />
</form>


