<% if @user %>
  <div>
    <% @properties.each do |property| %>
    <p><%= property.property_title %></p>
    <p><%= property.description %></p>
    <p><%= property.price_per_night %></p>
    <% end %>
   <form action="/makersbnb/add" method="post">
      <input type="submit" value="Add more spaces">
   </form> 
   <a href="/makersbnb/welcome_user">Return to homepage</a>
   </div>
<% else %>
   <h1>Please log in to access this page.</h1>
<% end %>


