<% if @user %>
  <div class="">
    <% @properties.each do |property| %>
    <p><%= property.property_title %></p>
    <p><%= property.description %></p>
    <p><%= property.price_per_night %></p>
    <% end %>
  </div>
<% else %>
      <h1>Please log in to access this page.</h1>
<% end %>




