<% if @user %>
  <h1>Welcome, <%= @user.email %> </h1>
  <a href="/makersbnb/my_listings">My listings</a>
  <a href="/makersbnb/add">Add property</a>
   <div>
    <% @properties.each do |property| %>
    <p><%= property.property_title %></p>
    <p><%= property.description %></p>
    <p><%= property.price_per_night %></p>
    <form action="/property/privet-drive" method="post">
      <input type="submit" value="View more details">
    </form> 
    <% end %>
   </div>
  <div><a href="/makersbnb/signout">Sign out</a></div>
<% end %>



