<% if @user %>
  <h1 class="center">Book a Space</h1>
    <div class="properties">
    <% @properties.each do |property| %>
     <div class="property">
    <span><%= property.property_title %></span>
    <span><%= property.description %></span>
    <span><%= property.price_per_night %></span>
    </div>
    <% end %>
   </div>
<% end %>