<div class="parent">
  <div class="container" id="left">
    <h1>Book a Space</h1>
    <form action="/makersbnb/add" method="post">
      <input type="submit" value="List a space">
    </form> 
  </div>
</div>
