<% if @user %>
  <h2 class="center">Hello user! would you like to list your property?</h2><br> 
  <h3 class="center">fill in your details below:</h3> 

  <form class="center" action="/makersbnb/my_listings" method="post">
    <input class="form-input" type="text" name="property_title" placeholder='Title of your property'><br>
    <input class="form-input" type="text" name="description" placeholder='Describe your property'><br>
    <input class="form-input" type="text" name="price_per_night" placeholder='Price per night'><br>
    <input class="form-input" type="submit" value="Submit">
  </form> 
<% else %>
   <h1>Please log in to access this page.</h1>
<% end %>