.center {
  text-align: center;
}

.form-heading {
  margin-top: 50px;
}

.sign-up {
  margin-top: 30px;
}

.link {
  color: black;
  padding-right: 20px;
}

.link:hover {
  color: black;
}

.link:visited {
  color: black;
}

.link-wrapper {
  text-align: right;
}

.property {
  border: 1px solid black;
  padding: 40px;
  margin: 20px 0;
  text-align: center;
}

.properties {
  margin: 50px 100px;
}

.form-input {
  border: 1px solid black;
  padding: 10px;
  margin: 7px 0;
  text-align: center;
}
